<h2 class="text-center">Frequently Asked Questions,</h2>
<h4 class="text-center">find the answers you are looking for.</h4>
<div class="tab-pane" id="faq-index">
    <div class="accordion" id="accordion2">
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <h3>How to order?</h3>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <p>To order you must simply send an email to office@jewellerybox.bg with the following information:</p>
            <ol>
                <li>The name of the product you want to purchase</li>
                <li>The ID of that same item</li>
                <li>The quantity you want</li>
                <li>Your name and shipping address</li>
            </ol>
            <p>Thats all! Good luck</p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <h4>What is included in the package?</h4>
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>The package includes:</p>
            <ol>
                <li>The product you ordered</li>
                <li>A jewellery box</li>
                <li>A jewellery bag (optional)</li>
                <li>A cleaning cloth (optional)</li>
                <li>A warranty card (optional)</li>
            </ol>
          </div>
        </div>
      </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <h4>Can I order as a Gift?</h4>
            </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>You can order as a gift and include the following extras:<p>
                <ol>
                    <li>Rose paddles</li>
                    <li>Wish card</li>
                </ol>
            </div>
        </div>
    </div>

      <!-- End of Accordion -->
    </div>
</div>