<div class="bg-text">
<h2 class="text-center">Често задавани въпроси,</h2>
<h4 class="text-center">намерете отговорите които търсите.</h4>
<p class="text-center"><%= link_to "EN", faq_path, class: 'btn btn-small' %></p>
    <div class="accordion" id="accordion2">
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <h3>Как да поръчам?</h3>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <h5>Поръчайте в 3 прости стъпки:</h5>
            <ol>
                <li>Натиснете <strong>Order Now</strong> на избрания от вас продукт.</li>
                <li>Попълнете формата за поръчка.</li>
                <li>Очаквайте известие от Ekont Express.</li>
            </ol>
            <hr />
            <p>
              Поръчката на продукт от <strong>www.jewellerybox.bg</strong> не изисква регистрация. След като изберете желания от вас продукт, натиснете бутона <strong><i>Order Now</i></strong>. Ще бъдете препратени към формата за попълване на информация по осъществяването на поръчката. Можете да попълните формата както на български език, така и на английски. Полетата обозначени със звезда са задължителни. Ако продуктът се предлага в няколко цвята или има други специфични особености, то вие трябва да ги отбележите в полето <strong><i>Message</i></strong>. Приетите поръчки се обработват и изпращат в рамките на 3 работни дни.
            </p>
            <p>Ако възникват проблеми с вашата поръчка или имате други въпроси, не се колебайте да ни пишете на: <strong>office@jewellerybox.bg</strong></p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <h4>Какво е Price Class?</h4>
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Закупуваните от нас продукти често са с идеята да бъдат подарък, затова ние създадохме <strong>Price Class</strong> категориите. Така всеки от вас може да има ценови ориентир, но не това да е водещото при избора на подаръка.</p>
            <ol>
                <li><strong>Клас А:</strong> 5 - 15 лв.</li>
                <li><strong>Клас АА:</strong> 15 - 30 лв.</li>
                <li><strong>Клас ААА:</strong> 30 - 50 лв.</li>
                <li><strong>Клас Lux:</strong> 50+ лв.</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <h4>Какво включва пакета?</h4>
            </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>Вариациите са в зависимост от продукта. Разбира се, той достига до вас грижливо опакован в подаръчна кутийка. Някои продукти се предлагат заедно с почистваща кърпичка за сребро, чантичка за бижуто, подаръщна чантичка, или други допълнения, който биха зарадвали вас или вашата половинка.<p>

                <p>
                  Може да има случай, при които на снимките в уебсайта е изложен повече от един продукт. Имайте предвид, че посочената цена се отнася само за 1 брой от тях. Изключение правят случаите когато говорим за чифтове, както е при обеците. Снимките, които публикуваме са с цел по-обширна презентация на продуктите.
                </p>
            </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                <h4>Начин на плащане и доставка</h4>
            </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>
                  Начинът на плащане е с наложен платеж чрез куриерска фирма Еконт Експрес. Цената за доставка до офис на Еконт, в зависимост от посоченото от Вас населено място варира около 5,00 лв. за повечето градове на територията на страната.
                <p>
                <ul>
                  <li>Безплатна доставка при поръчка на продукт от <strong>Клас ААА</strong> или <strong>Клас Lux</strong>.</li>
                </ul>
            </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                <h4>Гаранция и условия за връщане на продукт</h4>
            </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>
                  Не всички продукти имат гаранция. Ако избраният от вас продукт притежава такава, то тя задължително е опомената на страницата на продукта, както и на страницата за поръчка.
                <p>
                <p>
                  <strong>Можете да върнете закупеният продукт</strong> и ние ще възвърнем стойността му, при условие че:
                </p>
                <ol>
                    <li>Върнете продукта в срок от седем дни след получаването му.</li>
                    <li>Върнете продукта в състоянието, в което е бил изпратен.</li>
                </ol>
                <hr />
                <p>
                  При условие, че връщането на продукта е по ваша вина, вие сте длъжни да поемете разходите свързани с Еконт Експрес. В случай, че ние сме пропуснали ваше изискване или сме объркали нещо по доставката, отговорността е наша.
                </p>
                  <small>Пример: Ако вие върнете продукта защото се искали да е със син камък, но не сте го опоменали в поръчката, това не е по наша вина. Ако вие сте го опоменали и ние сме пренебрегнали вашето желание, то тогава отговорността по разходите свързани с Еконт Експрес е наша.</small>
            </div>
        </div>
      </div>

      <!-- End of Accordion -->
    </div>
    <p class="text-center">Свържете се с нас по всяко време на: <strong>office@jewellerybox.bg</strong></p>
</div>